@charset 'UTF-8';

body {
  background-color: #ddd;
}

h1 {
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  color: #aaa;
}

.subtext {
  text-align: center;
  font-size: 10px;
  font-family: 'Merriweather Sans', sans-serif;
  font-style: italic;
  color: #aaa;
}

.tabs {
  margin-top: 50px;
  margin-bottom:20px;
}

.tabs .tab {
  background: #ddd;
  padding: 5px;
}

.tabs .tab:hover {
  background-color: #ccc;
}

.tabs .active {
  background: #bbb;
}

.content .tab {
  display: none;
}

.content .active {
  display: block;
}

.item {
  padding-bottom: 10px;
}

.categoryTitle {
  font-family: 'Inder', sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.description {
  padding:0 0 0 5px;
  background-color: #fff;
  font-family: 'Inder', sans-serif;
}

.categories {
  font-size: 9px;
  color: #aaa;
  padding: 0 0 0 10px;
  background-color: #fff;
  font-family: 'Inder', sans-serif;
}

.remove {
  color: red;
}

.remove:hover {
  color: #800;
}